// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 $gray: #F4F4F4;

main {
  display: flex;
  flex-direction: column;
}

p {
  margin: 5px 0;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4)

}
 body {
   background: $gray; // Using this variable
   font-family: sans-serif;
 }

  .link {
    margin: 10px 0;
    text-decoration: none;
    color: grey;
    align-self: center;
    &:hover {
     color: black;
   }
 }


.btn {
  background-color: #388697;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  &:hover {
    background-color: #08415c;
  }
}

.input {
  padding: 13px 0;
  display: inline-block;
  font-size: 16px;
}

div {
  background-color: #FFF;
  padding: 10px 10px;
  margin: 5px 0;
  display: flex;
  align-item: center;
  flex-direction: column;
  border-left: 5px solid rgba(0, 0, 0, .2);
}

div.answer {
  background-color: rgba(249, 200, 70, 0.2);
}

